# Forge API Configuration
FORGE_API_KEY="your-forge-api-key-here"
FORGE_BASE_URL="https://api.forge.tensorblock.co/v1"
MODEL="OpenAI/gpt-4.1"
AI_TEMPERATURE=0.7


GITHUB_TOKEN=ghp_your_token_here

ANTHROPIC_BASE_URL=https://api.forge.tensorblock.co
ANTHROPIC_AUTH_TOKEN="your-forge-api-key-here"
ANTHROPIC_MODEL="tensorblock/claude-opus-4-1"
ANTHROPIC_SMALL_FAST_MODEL="tensorblock/claude-opus-4-1"
